<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../frontoffice/css/equipe.css"> <!-- Assurez-vous que le chemin est correct -->
    <title>EduPro Hub</title>
</head>
<body>
    <nav>
        <img src="img/logo.gif" alt="EduPro Hub Logo">
        <a href="accueil.html">Accueil</a>
        <a href="formation.html">Formation</a>
        <a href="gestion_cours.html">Cours</a>
        <a href="stage.html">Stage</a>
        <a href="messagerie.html">Messagerie</a>
        <a href="reclamation.html">Reclamation</a>
        
        <li>
            <a href="#">Authentification</a>
            <ul class="dropdown">
                <li><a href="connecter.html">Se Connecter</a></li>
                <li><a href="inscrit.html">S'inscrire</a></li>
            </ul>
        </li>
        <a href="equipe.html">Equipe</a>
    </nav>
    <section>
        <form class="form">
            <div class="form">
                <div class="row">
                    <div class="column">
                        <div>
                            <div class="member-img">
                                <img src="../frontoffice/img/wajed.jpg" alt="wajed">
                            </div>
                            <div class="social">
                                <h2>Wajed Guermessi</h2>
                                <a href="https://www.facebook.com/wajed.guermessi/">
                                    <img src="../frontoffice/img/facebook.png" alt="facebook">
                                </a>
                                <h3>Tel:58806597</h3>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <div class="member-img">
                                <img src="../frontoffice/img/mouheb.jpg" alt="mouheb">
                            </div>
                            <div class="social">
                                <h2>Mouheb Amdouni</h2>
                                <a href="https://www.facebook.com/mouheb.amdouni.77">
                                    <img src="../frontoffice/img/facebook.png" alt="facebook">
                                </a>
                                <h3>Tel:</h3>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <div class="member-img">
                                <img src="../frontoffice/img/adem.jpg" alt="adem">
                            </div>
                            <div class="social">
                                <h2>Adem Jendoubi</h2>
                                <a href="https://www.facebook.com/profile.php?id=100079715085660">
                                    <img src="../frontoffice/img/facebook.png" alt="facebook">
                                </a>
                                <h3>Tel:</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>
                            <div class="member-img">
                                <img src="../frontoffice/img/emna.jpg" alt="emna">
                            </div>
                            <div class="social">
                                <h2>Emna Ellafi</h2>
                                <a href="https://www.facebook.com/profile.php?id=100009958963749">
                                    <img src="../frontoffice/img/facebook.png" alt="facebook">
                                </a>
                                <h3>Tel:</h3>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <div class="member-img">
                                <img src="../frontoffice/img/mouheb.jpg" alt="mouheb">
                            </div>
                            <div class="social">
                                <h2>Mouheb Amdouni</h2>
                                <a href="https://www.facebook.com/mouheb.amdouni.77">
                                    <img src="../frontoffice/img/facebook.png" alt="facebook">
                                </a>
                                <h3>Tel:58806597</h3>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <div class="member-img">
                                <img src="../frontoffice/img/adem.jpg" alt="adem">
                            </div>
                            <div class="social">
                                <h2>Adem Jendoubi</h2>
                                <a href="https://www.facebook.com/profile.php?id=100079715085660">
                                    <img src="../frontoffice/img/facebook.png" alt="facebook">
                                </a>
                                <h3>Tel:58806597</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <br>
    <footer>
        <table>
            <tr>
                <td align="center">
                    <h4>Contactez-nous</h4>
                    <p>Tél : 01 23 45 67 89</p>
                    <p>Email : contact@eduprohub.com</p>
                </td>
                <td align="center">
                    <h4>Partenaires</h4>
                    <p>EduPro Hub, Autres entreprises</p>
                </td>
                <td align="center">
                    <h4>Newsletter</h4>
                    <form>
                        <input type="email" name="email" id="email" placeholder="E-MAIL">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <p>© 2021 - Tous droits réservés</p>
                </td>
            </tr>
        </table>
    </footer>
</body>
</html>