<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../frontoffice/css/mes.css">
    <title>EduPro Hub</title>
</head>
<body>
    <nav>
        <img src="../frontoffice/img/logo.gif" alt="EduPro Hub Logo">
        <a href="accueil.html">Accueil</a>
        <a href="formation.html">Formation</a>
        <a href="gestion_cours.html">Cours</a>
        <a href="stage.html">Stage</a>
        <a href="messagerie.html">Messagerie</a>
        <a href="reclamation.html">Reclamation</a>
        
        <li _ngcontent-cys-c46="">
            <a _ngcontent-cys-c46="">Authentification</a>
            <ul _ngcontent-cys-c46="" class="dropdown">
                <li _ngcontent-cys-c46="">
                    <a _ngcontent-cys-c46="" routerlink="" href="connecter.html">Se Connecter</a>
                </li>
                <li _ngcontent-cys-c46="">
                    <a _ngcontent-cys-c46="" routerlink="" href="inscrit.html">S'inscrire</a>
                </li>
            </ul>
        </li>
        <a href="equipe.html">Equipe</a>
    </nav>
    <section>
        <div class="sidebar">
            <h2>Chat with formers and classmates</h2>
            
            <h3>Students</h3>
            <div class="search-bar">
                <input type="text" id="studentSearch" placeholder="Search students..."/>
            </div>
            <ul id="studentList" class="user-list">
                <li>Mouheb Amdouni</li>
                <li>Wejed Guermessi</li>
                <li>Adem Jendoubi</li>
            </ul>
            
            <h3>Formers</h3>
            <div class="search-bar">
                <input type="text" id="formerSearch" placeholder="Search formers..." />
            </div>
            <ul id="formerList" class="user-list">
                <li>Mr. Ahmed</li>
                <li>Mme. Ameni</li>
                <li>Mr. Feker</li>
            </ul>
        </div>
    
        <div class="chat-container">
            <div class="chat-header">
                <h2 id="chatHeader">Your Chat Space</h2>
            </div>
            <div id="chatBox" class="chat-box">
                <div class="message">Select someone to start a conversation with !</div>
            </div>
            <div class="message-input">
                <input type="text" placeholder="Type your message here..." />
                <button type="button">Send</button>
            </div>
        </div> 
    </section>
    <footer>
        <table>
            <tr>
                <td align="center">
                    <h4>Contactez-nous</h4>
                    <pre>Tél : 01 23 45 67 89
Email : contact@eduprohub.com</pre>
                </td>
                <td align="center">
                    <h4>Partenaires</h4>
                    <pre>EduPro Hub
Autres entreprises</pre>
                </td>
                <td align="center">
                    <h4>Newsletter</h4>
                    <pre>Soyez les premiers informés des nouveautés, soldes & promos !</pre>
                    <form>
                        <input type="email" name="email" id="email" pattern=".+@gmail.com" placeholder="E-MAIL">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p class="footer p">© 2021 - Tous droits réservés</p>
                </td>
            </tr>
        </table>
    </footer> 
</body>
</html>